
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Bitcount+Grid+Single:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap);
body{
    background-image: linear-gradient(to bottom right, rgb(171, 0, 0), rgb(255, 102, 0));
    color: #000000;
    height:auto;
    min-height:100vh;
}

.container {
    font-family: 'Montserrat", sans-serif';
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
    width: 70%;
    max-width: 900px;
    text-align: left; 
}

.title {
    font-family: 'Roboto Mono';
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0,5em;
    text-align: center;
}

.vertical-buttons li a[href="index.html"] {
    font-family: 'BBH Sans Bartle'; 
    font-weight: bold;  
    font-size: 50px;                   
    color: #7f0000;
    text-align: center;                      
}

.button {
        font-family: 'BBH Sans Bartle';
        font-size: 20px;
        background-color: #7f0000;
        color: #FFFFFF;
        padding: 20px;
        border-radius: 5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:5px;     
        width: 250px;
        text-align: center;
        text-decoration: none;
}

.button {
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.button:hover {
    box-shadow: 0 4px 10px rgb(255, 255, 255);
    transform: translateY(-2px);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px; 
    justify-items: center;
    margin-top: 20px;
}

.site-footer {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;

    /* Subtiele scheidingslijn */
    border-top: 1px solid rgba(255, 255, 255, 0.3);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    opacity: 0.9;
}

.kader {
    background-color: #600000;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 70%;    
    max-width: 900px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.kader img {
    max-width: 100%;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
